.orange-border {
    border: none;
    height: 5px;
    background-color: orange;
    margin: 20px 0 30px 50px;
    width: 80%;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.6);
}