<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tunehub</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="hero">
    <header class="header">
        <figure>
            <img src="/images/tune-removebg-preview%20(1)%201.png" alt="">
        </figure>
        <nav>
            <form action="/research" method="post" id="research-form">
                <input name="searchQuery" placeholder="Research a song" required type="text" id="search-bar">
                <button type="submit">Search</button>
            </form>
            <figure>
                <img src="/images/user%20preview%201.png" alt="">
            </figure>
        </nav>
    </header>
    <main>

        <hr class="orange-border">
        <h3>MY PLAYLIST</h3>
        <!-- FORM CREAZIONE PLAYLIST -->
        <form th:action="@{/playlist}" th:object="${playlistForm}" method="post">
            <label for="nomePlaylist">Name new playlist:</label>
            <input type="text" id="nomePlaylist" th:field="*{nomePlaylist}" required>
            <button type="submit" id="add-btn">Add</button>
        </form>

        <!-- VISUALIZZAZIONE PLAYLIST -->
        <div>
            <h4>Created Playlist:</h4>
            <ul>
                <!-- Ciclo per ogni playlist -->
                <li style="color: white" th:each="item : ${playlists}">
                    <!-- Cliccando sul nome della playlist, si va alla sua pagina di dettaglio -->
                    <a th:href="@{'/playlist/' + ${item}}" th:text="${item}"></a>



                </li>
            </ul>
        </div>
    </main>
    <footer>
    </footer>
</div>
</body>
</html>
