<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="hero">
        <header class="header">
            <figure>
                <img src="../static/images/tune-removebg-preview%20(1)%201.png" alt="">
            </figure>
            <nav>
                <input type="text" name="" id="">
                <figure>
                    <img src="../static/images/search%201.png" alt="">
                </figure>
            </nav>
            <figure>
                <img src="../static/images/user%20preview%201.png" alt="">
            </figure>
        </header>
        <main>
            <h1>MY PLAYLIST</h1>
        <div class="orange-border"></div>

        </main>
        <footer>

        </footer>
    </div>
</body>
</html>