<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlist Details</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="hero">
    <header class="header">
        <figure>
            <img src="/images/tune-removebg-preview%20(1)%201.png" alt="Logo TuneHub">
        </figure>
        <nav>
            <form action="/research" method="post">
                <input id="search-bar" type="text" name="searchQuery" placeholder="Research a song" required>
                <button id="search-button" type="submit">Search</button>
            </form>
        </nav>
    </header>
    <main>
        <h3>Playlist: <span th:text="${playlist.nomePlaylist}"></span></h3>
        <div class="orange-border"></div>

        <!-- Messaggio di successo -->
        <div th:if="${message != null}">
            <p th:text="${message}"></p>
        </div>

        <!-- Visualizzazione delle canzoni nella playlist -->
        <div th:if="${playlist != null}">
            <h4>Songs in the playlist:</h4>
            <ul>
                <li th:each="canzone : ${playlist.listaCanzoni}" th:text="${canzone}">Song Name</li>
            </ul>
        </div>
    </main>
</div>
</body>
</html>
